.title {
    background-color: #609;
    padding-left: 15px;
    padding-top: 1px;                
}
body {margin: 0px}
.lista {
    background-color: white;
    margin: 0px;
    padding: 30px;                
}
.item {
    border-style: solid;
    border-color: #609;
    border-radius: 10px;
    display: inline-block;
    width: 80px;
    height: 100px;
    margin-right: 20px;                
}
.close{
    position: fixed;
    background-color: white;
    border: none;
    color: red;
    font-size: 30px

}
.formu{
    padding: 10px;
    padding-left:400px;
    margin-top: 50px;
    margin-bottom: 250px;
}

.btn{
    background-color: #609;
    color: white;
    border-style: solid;
    border-color: #609;
    border-radius: 10px;
}

.campo{
    border-radius: 8px;                
}

.form2{
    margin: 10px; 
    text-align: right;
}